<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dateSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/classroomsys" />
		<property name="user" value="root" />
		<property name="password" value="123" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dateSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/xc/domain/User.hbm.xml</value>
				<value>com/xc/domain/Classroom.hbm.xml</value>
				<value>com/xc/domain/Classroom_use.hbm.xml</value>
				<value>com/xc/domain/Timeinfo.hbm.xml</value>
			</list>
		</property>

	</bean>

	<bean id="userDao" class="com.xc.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userService" class="com.xc.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userAction" class="com.xc.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="classroomDao" class="com.xc.dao.impl.ClassroomDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="classroomService" class="com.xc.service.impl.ClassroomServiceImpl">
		<property name="classroomDao" ref="classroomDao"></property>
	</bean>
	<bean id="classroomAction" class="com.xc.action.ClassroomAction" scope="prototype">
		<property name="classroomService" ref="classroomService"></property>
	</bean>
	
	
	<bean id="borrowDao" class="com.xc.dao.impl.BorrowDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="borrowService" class="com.xc.service.impl.BorrowServiceImpl">
		<property name="borrowDao" ref="borrowDao"></property>
	</bean>
	<bean id="borrowAction" class="com.xc.action.BorrowAction" scope="prototype">
		<property name="borrowService" ref="borrowService"></property>
	</bean>
	


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="login*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* com.xc.service.impl.*.*(..))"
			id="pointcut" />
		<aop:advisor advice-ref="advice" pointcut-ref="pointcut" />
	</aop:config>

</beans>